  {{#section 'title'}}Thay đổi mật khẩu{{/section}}
<div class="card mx-auto rounded" style="max-width: 50%; margin-top:3% -webkit-box-shadow: 11px 13px 39px -20px rgba(0,0,0,0.6);
-moz-box-shadow: 11px 13px 39px -20px rgba(0,0,0,0.6);
box-shadow: 11px 13px 39px -20px rgba(0,0,0,0.6);">
  <div class="card-header">
    <h5 style="font-weight: bold;">Thay đổi mật khẩu</h5>
  </div>
  <div class="card-body">
    <form method="POST">
    <div class="form-group" style="margin: 10px;">
      <label for="currpassword"><i class="fa fa-lock" aria-hidden="true"></i> Mật khẩu hiện tại:</label>
      <input name="currpassword" type="password" class="form-control" id="currpassword">
    </div>
    <div class="form-group" style="margin: 10px;">
      <label for="newpassword"><i class="fa fa-lock" aria-hidden="true"></i>  Mật khẩu:</label>
      <input name="newpassword" type="password" class="form-control" id="newpassword">
    </div>
    <div class="form-group" style="margin: 10px;">
      <label for="cnewpassword"><i class="fa fa-lock" aria-hidden="true"></i> Xác nhận lại mật khẩu:</label>
      <input name="cnewpassword" type="password" class="form-control" id="cnewpassword">
    </div>
          {{#if this.isError}}
       <div class="alert alert-danger" role="alert">
          {{#each this.Error}}
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{msg}} <br>
          {{/each}}
          </div>
       <br>
       {{/if}}
    <div style="text-align: center;">
       <button id="submit" type="submit" class="btn btn-success" style="min-width: 96%; min-height: 50px">
      <i class="fa fa-unlock" aria-hidden="true"></i>
      Xác nhận thay đổi</button>
    </div>
  </form>
  </div>
</div>

