<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>  {{{_sections.title}}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!--<link href="/public/font-awesome/css/fontawesome.min.css" rel="stylesheet">-->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/fon-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/admin/style.css" type="text/css" >
  <script src="/ckeditor/ckeditor.js"></script>
  {{{_sections.css}}}
</head>
<body>
{{!-- END HEAD --}}
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="">Bảng Quản Trị</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">

      </li>
    </ul>
    <ul class="navbar-nav mr-5">
      <li class="nav-item">
         <a class="nav-link" href="/logout" id="categoryDropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-sign-out" aria-hidden="true"></i> Đăng xuất</a>
      </li>
    </ul>
  </div>
</nav>
<div class="row content my-2 mx-1 d-flex justify-content-center" > 
        <div class="col-md-2 bg-light leftMenu w-100 rounded" style="-webkit-box-shadow: 11px 13px 39px -20px rgba(0,0,0,0.6);
-moz-box-shadow: 11px 13px 39px -20px rgba(0,0,0,0.6);
box-shadow: 11px 13px 39px -20px rgba(0,0,0,0.6);">
             <nav class="navbar nav-left-sidebar sidebar-dark navbar-light bg-light navbar-expand-lg w-100 shadow-lg rounded">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#leftMenu" aria-controls="leftMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse  " id="leftMenu">
                    <ul class="navbar-nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/"><i class="fa fa-home fa-lg" aria-hidden="true"></i>Trang chủ <span class="sr-only">(current)</span></a>
                        </li>   
                         <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="categoryDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                Danh mục
                            </a>
                            <div class="dropdown-menu w-auto " aria-labelledby="categoryDropdown">
                                <a class="dropdown-item" href="/admin/category">Danh sách danh mục</a>
                                <a class="dropdown-item" href="/admin/category/add">Thêm danh mục </a>
                            </div>
                        </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="categoryDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                Bài viết
                            </a>
                            <div class="dropdown-menu w-auto " aria-labelledby="newsDropdown">
                                <a class="dropdown-item" href="/admin/news">Danh sách bài viết</a>
                                <a class="dropdown-item" href="/admin/news/add">Viết bài</a>
                                <a class="dropdown-item" href="/admin/news/check">Duyệt bài</a>
                            </div>
                        </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="categoryDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-tags" aria-hidden="true"></i>
                                Tag
                            </a>
                            <div class="dropdown-menu w-auto " aria-labelledby="tagDropdown">
                                <a class="dropdown-item" href="/admin/tag">Danh sách tag</a>
                                <a class="dropdown-item" href="/admin/tag/add">Thêm tag</a>
                            </div>
                        </li>
                          </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="categoryDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-users" aria-hidden="true"></i>
                                Thành viên
                            </a>
                            <div class="dropdown-menu w-auto  " aria-labelledby="accountDropdown">
                                <a class="dropdown-item" href="/admin/member">Thành viên</a>
                                <a class="dropdown-item" href="/admin/member/add">Thêm thành viên</a>
                            </div>
                        </li>  
                         <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="categoryDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                Đọc giả
                            </a>
                            <div class="dropdown-menu w-auto  " aria-labelledby="accountDropdown">
                                <a class="dropdown-item" href="/admin/subscriber">Danh sách đọc giả</a>
                                <a class="dropdown-item" href="/admin/subscriber/check">Gia hạn đọc giả</a>
                            </div>
                        </li>  
                    </ul>
                </div>
            </nav>
        </div>
    <div class="col-md-10 mx-auto rightContent">
         {{!-- START Main --}}
         <div class="card" style="-webkit-box-shadow: 11px 13px 39px -20px rgba(0,0,0,0.6);
-moz-box-shadow: 11px 13px 39px -20px rgba(0,0,0,0.6);
box-shadow: 11px 13px 39px -20px rgba(0,0,0,0.6);">
            <div class="card-body">
                {{{body}}}
            </div>
          </div>
        {{!-- END MAIN --}}
    </div>
</div>    





{{!--START FOOTER --}}
<!-- Footer -->
<footer class="page-footer font-small bg-light text-secondary mt-5">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a class="text-secondary"  href="/admin"> Trang Tin Tức</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
{{!-- END FOOTER --}}
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{{{_sections.js}}}
</body>
</html>