{{#section 'title'}}Bảng Quản trị{{/section}}
<nav class="breadcrumb">
    <a class="breadcrumb-item active" href="/admin">Home</a>
</nav>
<div class="contentHeader">
    <div class="card text-dark bg-light">
        <div class="card-body text-center">
            <h4 class="card-title">Chào mừng bạn đến với bảng quản trị</h4>
            <p class="card-text">{{username}}</p>
        </div>
    </div>
</div>
<div class="contentMain my-5">
    <div class="d-flex justify-content-center text-center row">
        <div class="card col-md-3 mx-4 my-2">
            <img class="card-img-top w-50 mx-auto my-2 mt-2"
                src="/public/admin/img/group.svg" alt="">
            <div class="card-body">
                <h5 class="card-title">Lượt đăng ký</h5>
                {{#each ListUser}}
                <p class="card-text">{{CountUser}}</p>
                {{/each}}
            </div>
        </div>
        <div class="card col-md-3 mx-4 my-2">
            <img class="card-img-top w-50 mx-auto my-2 mt-2"
                src="/public/admin/img/vision.svg"
                alt="">
            <div class="card-body">
                <h5 class="card-title">Lượt xem</h5>
                {{#each ListView}}
                <p class="card-text">{{this.views}}</p>
                {{/each}}
            </div>
        </div>
        <div class="card col-md-3 mx-4 my-2">
            <img class="card-img-top w-50 mx-auto my-2 mt-2"
                src="/public/admin/img/reading.svg"
                alt="">
            <div class="card-body">
                <h5 class="card-title">Bài báo</h5>
                {{#each ListNews}}
                <p class="card-text">{{CountNews}}</p>
                {{/each}}
            </div>
        </div>
    </div>
</div>
<div>
    <canvas id="myChart"></canvas>
</div>

{{#section 'js'}}

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
            datasets: [{
                label: 'views',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [0, 10, 5, 2, 20, 30, 45]
            }]
        },

        // Configuration options go here
        options: {}
    });
</script>
{{/section}}