  {{#section 'title'}}Đăng nhập{{/section}}
<div class="card mx-auto rounded" style="max-width: 50%; margin-top:3% -webkit-box-shadow: 11px 13px 39px -20px rgba(0,0,0,0.6);
-moz-box-shadow: 11px 13px 39px -20px rgba(0,0,0,0.6);
box-shadow: 11px 13px 39px -20px rgba(0,0,0,0.6);">
  <div class="card-header">
    <h5 style="font-weight: bold;">Đăng nhập</h5>
  </div>
  <div class="card-body">
    <form method="POST">
    <div class="form-group" style="margin: 10px;">
      <label for="username"><i class="fa fa-user" aria-hidden="true"></i> Tên người dùng:</label>
      <input name="username" type="username" class="form-control" id="username">
    </div>
    <div class="form-group" style="margin: 10px">
      <label for="password"><i class="fa fa-lock" aria-hidden="true"></i> Mật khẩu:</label>
      <input name="password" type="password" class="form-control" id="password">
    </div>
       <br>
      {{#if this.isLoginFalse}}
      <div class="alert alert-danger" role="alert"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Tên người dùng không tồn tài hoặc sai mật khẩu</div>
       {{/if}}


    <div style="text-align: center;">
       <button id="submit" type="submit" class="btn btn-primary" style="min-width: 96%; min-height: 50px">
      <i class="fa fa-sign-in" aria-hidden="true"></i>
      Đăng nhập</button>
    </div>
  </form>
  </div>
  <div class="card-footer" class="mx-auto">
    <a href="/retrieve" class="btn btn-light" style="min-height: 100%; min-width:100%">Quên mật khẩu?</a>
  </div>
</div>

