  {{#section 'title'}}Thông báo hết hạn Premium{{/section}}
<div class="card mx-auto rounded" style="max-width: 50%; margin-top:3% -webkit-box-shadow: 11px 13px 39px -20px rgba(0,0,0,0.6);
-moz-box-shadow: 11px 13px 39px -20px rgba(0,0,0,0.6);
box-shadow: 11px 13px 39px -20px rgba(0,0,0,0.6);">
  <div class="card-header">
    <h5 style="font-weight: bold;">Bạn đã hết hạn sử dụng Premium</h5>
  </div>
  <div class="card-body">
    <div style="text-align: center;">
        Tài khoản <a style="color: gold;">Premium</a> của bạn đã <a style="color: red;">hết hạn</a> ! hiện tại tài khoản của bạn đã thay đổi thành <a style="color: red;">Thành viên thường</a>, vui lòng gia hạn trong bảng "Thông tin cá nhân" để tiếp tục sử dụng dịch vụ <a style="color: gold;">Premium</a>
        </div>
        <br>
         <div style="text-align: center;">
        <a href="/" class="btn btn-success" role="button" aria-pressed="true">Trang chủ</a>
    </div>
  </div>
</div>

