  {{#section 'title'}}Đăng ký{{/section}}

<div class="card">
  <div class="card-header">
    <h5 style="font-weight: bold;">Đăng ký</h5>
  </div>
  <div class="card-body">
    <form method="POST" action="register">
    <div class="form-group" style="margin: 10px;">
      <label for="username"> <i class="fa fa-user" aria-hidden="true"></i> Tên người dùng <a style="color: red;">*</a>:</label>
      <input name="username" type="text" class="form-control" id="username" placeholder="Nhập tên người dùng">
    </div>
    <div class="form-group" style="margin: 10px;">
      <label for="password"><i class="fa fa-lock" aria-hidden="true"></i> Mật khẩu <a style="color: red;">*</a>: </label>
      <input name="password" type="password" class="form-control" id="password" placeholder="Nhập mật khẩu">
    </div>
    <div class="form-group" style="margin: 10px;">
      <label for="password"><i class="fa fa-lock" aria-hidden="true"></i> Xác nhận lại mật khẩu <a style="color: red;">*</a>: </label>
      <input name="password" type="password" class="form-control" id="password" placeholder="Xác nhận lại mật khẩu">
    </div>
        <div class="form-group" style="margin: 10px;">
      <label for="fullname"><i class="fa fa-pencil" aria-hidden="true"></i> Tên đầy đủ: </label>
      <input name="fullname" type="text" class="form-control" id="fullname" placeholder="Nhập họ tên đầy đủ">
    </div>
    <div class="form-group" style="margin: 10px">
      <label for="email"><i class="fa fa-envelope" aria-hidden="true"></i> Email <a style="color: red;">*</a>:</label>
      <input name="email" type="text" class="form-control" id="address" placeholder="Nhập email">
    </div>
      <div class="form-group" style="margin: 10px">
      <label for="phone"><i class="fa fa-phone" aria-hidden="true"></i> Số điện thoại:</label>
      <input name="phone" type="text" class="form-control" id="address" placeholder="Nhập số điện thoại">
    </div>

    <div class="checkbox" style="margin: 10px">
      <label><input type="checkbox"> Tôi đã đồng ý với các điều khoản trên</label>
    </div>
    <button id="submit" type="submit" class="btn btn-success" style="margin-right: 2%; margin-left:2%">
      <i class="fa fa-user-plus" aria-hidden="true"></i>
      Đăng ký</button>
    <h7>Đã có tài khoản ? <a href="/login">Đăng nhập</a> </h7> 
  </form> 
  </div>
</div>

