  {{#section 'title'}}Đăng ký{{/section}}

<div class="card mx-auto rounded" style="max-width: 70%; margin-top:3% -webkit-box-shadow: 11px 13px 39px -20px rgba(0,0,0,0.6);
-moz-box-shadow: 11px 13px 39px -20px rgba(0,0,0,0.6);
box-shadow: 11px 13px 39px -20px rgba(0,0,0,0.6);">
  <div class="card-header">
    <h5 style="font-weight: bold;">Đăng ký</h5>
  </div>
  <div class="card-body">
      <div class="alert alert-warning" role="alert">
          <label><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Lưu ý: Tên người dùng và email không thể sửa đổi sau khi đăng ký</label>
      </div>
    <form method="POST" action="register">
    <div class="form-group" style="margin: 10px;">
      <label for="username"> <i class="fa fa-user" aria-hidden="true"></i> Tên người dùng <a style="color: red;">*</a>:</label>
      <input name="username" type="text" class="form-control" id="username" placeholder="Nhập tên người dùng">
    </div>
    <div class="form-group" style="margin: 10px;">
      <label for="password"><i class="fa fa-lock" aria-hidden="true"></i> Mật khẩu <a style="color: red;">*</a>: </label>
      <input name="password" type="password" class="form-control" id="password" placeholder="Nhập mật khẩu">
    </div>
    <div class="form-group" style="margin: 10px;">
      <label for="cpassword"><i class="fa fa-lock" aria-hidden="true"></i> Xác nhận lại mật khẩu <a style="color: red;">*</a>: </label>
      <input name="cpassword" type="password" class="form-control" id="cpassword" placeholder="Xác nhận lại mật khẩu">
    </div>
      <div class="form-group" style="margin: 10px">
      <label for="email"><i class="fa fa-envelope" aria-hidden="true"></i> Email <a style="color: red;">*</a>:</label>
      <input name="email" type="email" class="form-control" id="email" placeholder="Nhập email">
    </div>
    <div class="form-group" style="margin: 10px;">
      <label for="name"><i class="fa fa-pencil" aria-hidden="true"></i> Họ tên: </label>
      <input name="name" type="text" class="form-control" id="name" placeholder="Nhập họ tên đầy đủ">
    </div>
    <div class="form-group" style="margin: 10px;">
      <label for="dob"><i class="fa fa-calendar" aria-hidden="true"></i> Ngày sinh: </label>
      <input name="dob" type="date" class="form-control" id="dob" >
    </div>
      <div class="form-group" style="margin: 10px">
      <label for="phone"><i class="fa fa-phone" aria-hidden="true"></i> Số điện thoại:</label>
      <input name="phone" type="text" class="form-control" id="address" placeholder="Nhập số điện thoại">
    </div>
 
    <div class="checkbox" style="margin: 10px">
      <label><input type="checkbox" name="terms" id="terms"> Tôi đã đồng ý với các điều khoản trên</label>
    </div>
       {{#if this.isError}}
       <div class="alert alert-danger" role="alert">
          {{#each this.Error}}
          <i class="fa fa-exclamation" aria-hidden="true"></i> {{msg}} <br>
          {{/each}}
          </div>
       <br>
       {{/if}}
    <button id="submit" type="submit" class="btn btn-success" style="margin-right: 2%; margin-left:2%">
      <i class="fa fa-check" aria-hidden="true"></i>
      Đăng Ký</button>
    <h7>Đã có tài khoản ? <i class="fa fa-hand-o-right" aria-hidden="true"></i> <a href="/login">Đăng nhập</a> </h7> 
  </form> 
  </div>
</div>

