  {{#section 'title'}}Khôi phục mật khẩu{{/section}}
<div class="card mx-auto rounded" style="max-width: 50%; margin-top:3% -webkit-box-shadow: 11px 13px 39px -20px rgba(0,0,0,0.6);
-moz-box-shadow: 11px 13px 39px -20px rgba(0,0,0,0.6);
box-shadow: 11px 13px 39px -20px rgba(0,0,0,0.6);">
  <div class="card-header">
    <h5 style="font-weight: bold;">Khôi phục mật khẩu</h5>
  </div>
  <div class="card-body">
    <label>Nhập tên người dùng để nhận mã khôi phục mật khẩu, mã khôi phục sẽ được gửi qua email mà bạn dùng để đăng ký</label>
    <form method="POST">
    <div class="form-group" style="margin: 10px;">
      <label for="username"><i class="fa fa-user" aria-hidden="true"></i> Tên người dùng:</label>
      <input name="username" type="username" class="form-control" id="username">
    </div>
      {{#if this.isNotExists}}
      <div class="alert alert-danger" role="alert"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Tên người dùng không tồn tài </div>
       {{/if}}
      {{#if this.OutOfSend}}
       <div class="alert alert-danger" role="alert"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Số lần gửi lại mã xác nhận đã hết, vui lòng thử lại sau 24h</div>
       {{/if}}
       <br>
    <div style="text-align: center;">
       <button id="submit" type="submit" class="btn btn-success" style="min-width: 96%; min-height: 50px">
      <i class="fa fa-key" aria-hidden="true"></i>
      Khôi phục</button>
    </div>
  </form>
  </div>
</div>

