{{#section 'title'}}Đọc giả{{/section}}
 <nav class="breadcrumb">
              <a class="breadcrumb-item" href="/admin">Trang chủ</a>
              <a class="breadcrumb-item active" href="#">Đọc giả</a>
</nav>
<div class="contentHeader">
    <div class="card text-dark bg-light">     
      <div class="card-body text-center ">
        <h4 class="card-title">Danh sách đọc giả</h4>
      </div>
    </div>
</div>

<div class="contentHeader my-4">
    <div class="card text-dark bg-light">     
      <div class="card-body text-center ">
       <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" width="20%">Tên</th>
                        <th scope="col" width="17%">Email</th>
                        <th scope="col" width="17%">Số điện thoại</th>
                        <th scope="col" width="15%">Ngày sinh</th>
                        <th scope="col" width="10%">Thời hạn</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>@mdo</td>
                        <td>Mark</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td class="d-flex justify-content-center">
                            {{!-- Thầy bảo phải dung method post nên phải dùng form method post để gửi request --}}
                            <form class="float-left" action="/admin/subscriber/check" method="POST" >                               
                                <button type="submit" class="btn btn-success mx-1"><i class="fa fa-check" aria-hidden="true"></i></button> 
                            </form>                           
                        </td>                            
                    </tr>                    
                </tbody>
            </table>
       </div>
      
      </div>
    </div>
</div>