<li class="list-group-item">
    <div class="row">
        <div class="col-xs-2 col-md-1">
            <img src="/public/avatar/{{avatar}}" class="img-circle img-responsive w-75" alt="" /></div>
        <div class="col-xs-10 col-md-11">
            <div>
                <div class="mic-info">By: <a href="#">{{name}}</a>
                </div>
         </div>
        <div class="comment-text"> {{content}}
    </div>
    </div>
    </div>
</li>