body{
    background-color: #efeff6 !important;
}
.content{
    border:0px;
    max-width:100%; 
}
.rightContent{
    min-height: 100vh;
}
.qtagselect__container{
    width: 100% !important;
}
.select_img{
    cursor: pointer;
}
/* Reponsive */
@media only screen and (max-width: 768px){
    body{
        font-size: 11px;
    }
}
@media only screen and (max-width: 425px){
    .leftMenu{
        height: 5%;
    }
    .card_title{
        display: none;
    }
}
.w3-allerta {
    font-family: "Allerta Stencil", Sans-serif;
  }
@media only screen and (max-width: 375){
    .leftMenu{
        height: 5%;
    }
    .card_title{
        display: none;
    }
}

@media only screen and (max-width: 320){
    .leftMenu{
        height: 5%;
    }
    .card_title{
        display: none;
    }
}