{{#section 'title'}}Phân loại{{/section}}
 <nav class="breadcrumb">
              <a class="breadcrumb-item" href="/admin">Trang chủ</a>
              <a class="breadcrumb-item" href="/admin/member">Thành viên</a>
              <a class="breadcrumb-item active" href="#">Chi tiết</a>
</nav>
<div class="contentHeader">
    <div class="card text-dark bg-light">     
      <div class="card-body text-center ">
        <h4 class="card-title">Chi tiết thành viên</h4>
      </div>
    </div>
</div>

<div class="contentHeader my-4">
    <div class="card text-dark bg-light">     
      <div class="card-body text-center ">
        {{!-- Thầy bảo phải dung method post nên phải dùng form method post để gửi request --}}
        <form action="/admin/member/delete" class="float-right pt-3" method="POST" >
            <button type="submit" class="btn btn-danger mx-3"><i class="fa fa-trash" aria-hidden="true" title="Xóa"></i> Xóa</button> 
        </form>
        <a class="btn btn-primary  m-3 float-right" href="/admin/member/add" role="button"> <i class="fa fa-plus" aria-hidden="true"></i> Thêm thành viên</a>
        <div class="table-responsive">
              <table class="table">
                    <tr>
                        <th width="15%">Tên</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Số điện thoại</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Ngày sinh</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Vai trò</th>
                        <td></td>
                    </tr>
            </table>
        </div>    
    </div>
    </div>
</div>